<h2>SignalR Demo</h2>
<p><b>hubHelloMessage:</b> {{ hubHelloMessage }}</p>
<p>
  <mat-progress-bar
    style="width: 400px; height: 20px; display: inline-block"
    mode="determinate"
    [value]="progressPercentage"
  >
  </mat-progress-bar>
  <span style="margin-left: 20px">{{ progressMessage }}</span>
</p>
<p>
  <button [disabled]="processing" (click)="processData()">Process Data</button>
</p>
<div style="margin-top: 50px">
  <p>
    <small>
      View the complete source code on
      <a
        href="https://github.com/mfcallahan/angular-signalr-demo/"
        target="_blank"
        rel="noopener"
        >GitHub</a
      >.
    </small>
  </p>
</div>
